# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=
APP_VERSION=0.4.3
###< symfony/framework-bundle ###

# to use mariadb:
DATABASE_URL="mysql://root:dev@db:3306/crm_api?serverVersion=10.7.7-MariaDB"

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=
###< lexik/jwt-authentication-bundle ###

###> nkcs-crm-settings ###
ACTIVATED_MODULES=item,job,contact
NKCS_DATA_DIR=/var/data
NKCS_DATA_WEBROOT=/data
NKCS_API_BASE_URL=https://crm-api.local
VAT_RATE_DEFAULT=8.1
SYSTEM_PAYMENTS_CURRENCY=chf
CONTACT_SIGNUP_ENABLED=true
###> nkcs-crm-settings ###

###> stripe-config - optional - only needed if you want to enable stripe integration for this instance ###
STRIPE_KEY=
STRIPE_SECRET=
###< stripe-config ###

###> license-server-settings - optional - only needed if you have a license server for your instances ##3
LICENSE_KEY_SERVER=
LICENSE_KEY_SERVER_TEST=true
LICENSE_KEY_HOLDER=dev
LICENSE_KEY_CACHE=true
LICENSE_KEY_ALLOWED_CLIENTS=
###< license-server-settings ###

###< nkcs-crm-deployment-server ###
INSTALLER_QUEUE_DIR=
###> nkcs-crm-deployment-server ###

###> symfony/mailer ###
MAILER_DSN=smtp://localhost:1025
###< symfony/mailer ###
